.wrapper {
  display: flex;
  justify-content: space-around;
}

.nickname {
  color: var(--blueShade1);
}

.buttons {
  color: var(--blueShade1);
  display: flex;
}

.yes {
  margin: 0 4px 0 4px;
}

.no {
  margin: 0 4px 0 4px;
  color: var(--redShade1);
}
